.img {
    width: 250px;
    height: 20rem;
    background-image: url('./../../assets/agents/TRw.png') ;
    background-size: 45rem;
    background-repeat: no-repeat;
    background-position: center;
}

@media(max-width: 629px) {
    .img {
        height: 15rem;
        background-size: 35rem;
    }
}