@import 'tailwindcss';

@theme {
	--color-blueCS: #0257b5;
	--color-blueCSHover: #283b7e;
	--color-yellowCS: #fdab1a;
	--color-orangeCS: #e9851f;
	--color-ModalBg: rgb(0, 0, 0, 0.35);
	--color-grayCS: #dcdcdc;
}
